{% extends 'base.html.twig' %}

{% block title %}pagrindinis{% endblock %}

{% block body %}
    <body id="section1" class="bc-index">
    {% include 'components/layout/navbar.html.twig' %}
    <div class="wrap">
        <div class="text-center"><h1 class="search-header">Suraskite gydytoją ir užsiregistruokite vizitui</h1></div>
        {{ form_start(search_form) }}
        {{ form_widget(search_form.name, {'attr':
            {'class': 'search-term', 'placeholder': 'Vardas'}}
        ) }}
        {{ form_widget(search_form.city, {'attr':
            {'class': 'search-term', 'placeholder': 'Miestas'}}
        ) }}
        {{ form_widget(search_form.specialties, {'attr':
            {'class': 'form-control form-control-lg', 'placeholder': 'Specialistas'}}
        ) }}
        {{ form_widget(search_form.search, {'attr':
            {'class': 'search-button', 'label': 'Ieškoti'}}
        ) }}
        {{ form_end(search_form) }}
    </div>
    <div class="section2-circle">
        <a href="#section2"><i class="fa fa-angle-down"
                               style="margin: 1px 10px; font-size:78px; color: #fca85e"></i></a>
    </div>

    <div id="section2" class="about-us">
        <h1 class="reason-header">Apie mus</h1>
        <p class="reason-paragraph">Balti chalatai - tai medicinos specialistų paieškos bei registracijos į vizitus
            sistema. Nauda ras tiek pacientai tiek specialistai. Mes Jums siūlome: </p>

            <div class="bc-reasons1">
                <div class="patient-reason-container">
                    <h2 class="patient-reason-header">Pacientams</h2>
                </div>
                <div class="patient-reason-container">
                    <img class="patient-reason-image" src="/images/Reason1.jpg" alt="" title="">
                    <p class="reason-text">Lengvai rasti norimą gydytoją pagal vardą, įstaigą ar miestą.</p>
                </div>
                <div class="patient-reason-container">
                    <img class="patient-reason-image" src="/images/Reason2.jpg" alt="" title="">
                    <p class="reason-text">Matyti kada gydytojas yra laisvas ir registruotis vizitui.</p>
                </div>
                <div class="patient-reason-container">
                    <img class="patient-reason-image" src="/images/Reason3.jpg" alt="" title="">
                    <p class="reason-text">Peržiūrėti savo ligos istoriją ir Jums skirtą gydymą.</p>
                </div>
            </div>

            <div class="bc-reasons2">
                <div class="specialist-reason-container">
                    <h2 class="specialist-reason-header">Specialistams</h2>
                </div>
                <div class="specialist-reason-container">
                    <img class="specialist-reason-image" src="/images/SpecialistReason1.png" alt="" title="">
                    <p class="reason-text">Sulaukti daugiau pacientų.</p>
                </div>
                <div class="specialist-reason-container">
                    <img class="specialist-reason-image" src="/images/SpecialistReason2.jpg" alt="" title="">
                    <p class="reason-text">Lengviau valdyti pacientų vizitus.</p>
                </div>
            </div>
        <div id="backToTop" class="section1-circle">
            <a href="#section1"><i class="fa fa-angle-up" style="margin: 1px 10px; font-size:78px; color: #fca85e"></i></a>
        </div>
        </div>
    <script>
        window.onscroll = function() {
            let offset = window.pageYOffset;
            let docHeight = document.documentElement.clientHeight;
            if (offset > docHeight * 0.8) {
                document.getElementById("backToTop").classList.add("show");
            } else {
                document.getElementById("backToTop").classList.remove("show");
            }
        }
    </script>
    </body>
{% endblock %}
