{% extends 'base.html.twig' %}

{% block title %}pagrindinis{% endblock %}

{% block body %}
    <body class="bc-index">
    {% include 'components/layout/navbar.html.twig' %}
    <div class="wrap">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        <h3 class="search-header">Specialistų Paieška:</h3>
        {{ form_start(search_form) }}
        {{ form_widget(search_form.name, {'attr':
            {'class': 'search-term', 'placeholder': 'Vardas'}}
        ) }}
        {{ form_widget(search_form.city, {'attr':
            {'class': 'search-term', 'placeholder': 'Miestas'}}
        ) }}
        {{ form_widget(search_form.specialties, {'attr':
            {'class': 'form-control form-control-lg', 'placeholder': 'Specialistas'}}
        ) }}
        {{ form_widget(search_form.search, {'attr':
            {'class': 'search-button', 'label': 'Ieškoti'}}
        ) }}
        {{ form_end(search_form) }}
    </div>
    </body>
{% endblock %}
