{% extends 'base.html.twig' %}

{% block title %}pagrindinis{% endblock %}

{% block body %}
    <body id="section1" class="bc-index">
    {% include 'components/layout/navbar_vertical.html.twig' %}
    <div class="wrap">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        <h3 class="search-header">Gydytojų Paieška:</h3>
        {{ form_start(search_form) }}
        {{ form_widget(search_form.name, {'attr':
            {'class': 'search-term', 'placeholder': 'Vardas'}}
        ) }}
        {{ form_widget(search_form.city, {'attr':
            {'class': 'search-term', 'placeholder': 'Miestas'}}
        ) }}
        {{ form_widget(search_form.specialties, {'attr':
            {'class': 'form-control form-control-lg', 'placeholder': 'Specialistas'}}
        ) }}
        {{ form_widget(search_form.search, {'attr':
            {'class': 'search-button', 'label': 'Ieškoti'}}
        ) }}
        {{ form_end(search_form) }}
    </div>
    <div class="section2-circle">
        <a href="#section2"><i class="fa fa-angle-down" style="margin: 1px 10px; font-size:78px; color: #fca85e"></i></a>
    </div>

    <div id="section2" class="about-us">
        <div class="section1-circle">
            <a href="#section1"><i class="fa fa-angle-up" style="margin: 1px 10px; font-size:78px; color: #fca85e"></i></a>
        </div>
    <h1>Apie mus</h1>
    <p>Balti chalatai - tai medicinos specialistų paieškos bei registracijos į vizitų sistema.</p>

    <h2>Pacientams</h2>
    <p>Čia jūs galite:</p>
    <ul>
        <li>Susirasti reikalingą specialistą.</li>
        <li>Sužinoti reikiamą specialisto informaciją(kontaktai, grafikas, darbovietė ir t.t.)</li>
        <li>Užsiregistruoti į vizitą (jei specialistas suteikia tam galimybę).</li>
        <li>Matyti savo vizitus, siuntimus, gydymo istoriją bei receptus vienoje vietoje.</li>
    </ul>
    <h2>Specialistams</h2>
    <p>Čia jūs galite:</p>
    <ul>
        <li>Sulaukti daugiau pacientų.</li>
        <li>Lengviau valdyti pacientų vizitus.</li>
    </ul>
    </div>
    </body>
{% endblock %}
