{% extends 'base.html.twig' %}

{% block title %}resultatai{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}

        <div class = "grid">
            <div class="page-back">
{#                <a href="#">#}
{#                    <i class="fa fa-chevron-circle-left" style="font-size:60px"></i>#}
{#                </a>#}
            </div>
            <div class="limiter">
                <div class="container-table">
                    <div class="wrap-table">
                        {% if specialists|length == 0 %}
                        <div class="alert alert-warning">
                            <h1>Atsiprašome, nepavyko rasti specialistų.</h1>
                        </div>
                        {% else %}
                            <div class="table">
                                <div class="results-row header">
                                    <div class="cell">
                                        Gyd. Vardas
                                    </div>
                                    <div class="cell">
                                        Specialybė
                                    </div>
                                    <div class="cell">
                                        Įstaiga
                                    </div>
                                    <div class="cell">
                                        Miestas
                                    </div>
                                </div>
                                {% for specialist in specialists %}
                                    <div class="results-row">
                                        <div class="cell" data-title="Full Name">
                                            <a href="{{ path('specialist_show', {'id': specialist.getId() }) }}">{{ specialist.getUserInfo().first().getName() }} {{ specialist.getUserInfo().first().getSurname() }}</a>
                                        </div>
                                    <div class="cell" data-title="Age">
                                        {{ specialist.getUserSpecialties.first().getSpecialtyId().getName() }}
                                    </div>
                                    <div class="cell" data-title="Job Title">
                                        {% if specialist.clinic is not defined %}
                                            Specialistas istaigai nepriklauso
                                        {% else %}
                                            {{ specialist.getUserClinics.first().getName() }}
                                        {% endif %}
                                    </div>
                                    <div class="cell" data-title="Location">
                                        {{ specialist.getUserInfo().first().getCity() }}
                                    </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {{ knp_pagination_render(specialists) }}
                </div>
            </div>
        </div>
        <div class="page-forward">
{#            <a href="#">#}
{#                <i class="fa fa-chevron-circle-right" style="font-size:60px;"></i>#}
{#            </a>#}
        </div>
        </div>

    </body>
{% endblock %}