{% block clinic_profile %}
    <div class="container-fluid bc-patient-container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-4 bc-patient-column-4">
                <div class="panel">
                    <div class="user-heading">
                        <div class="user-heading text-center">
                            <a href="#"><img src="/images/clinic-avatar.png" alt="" title=""></a>
                            <h2>{{ clinicInfo.getName() }}</h2>
                        </div>
                        <p><i class="fas fa-phone"></i> {{ clinicInfo.getPhoneNumber() }}</p>
						<p><i class="fas fa-envelope"></i> {{ clinicInfo.getEmail() }}</p>
						<p><i class="fas fa-map-marker"></i> {{ clinicInfo.getAddress() }}</p>
                        <p><i class="fas fa-globe"></i> <a href="{{ clinicInfo.getWebpage() }}"> {{ clinicInfo.getWebpage() }}</a></p>
                    </div>
                    <div class="text-center"><button class="btn btn-margin" onclick="location.href='/clinic/edit'">Redaguoti profilį</button></div>
                </div>
            </div>

            <div class="col-sm-8 bc-patient-column-8">
                <div class="card mt-3 tab-card">
                    <div class="card-header tab-card-header bc-patient-tab-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item patient-tab">
                                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                   aria-controls="One" aria-selected="true" selected="true">Apie</a>
                            </li>
                            <li class="nav-item patient-tab">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                   aria-controls="Two" aria-selected="false">Specialistai</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            {{ app.user.getClinicInfo().getDescription() }}
                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <div class="limiter">
                                <div class="container-table">
                                    <div class="wrap-table">
                                        {% if app.user.getClinicSpecialists()|length == 0 %}
                                            <div class="alert alert-warning">
                                                <h1>Jūs specialistų neturite. Norėdami pridėti specialistą nueikite ant jo profilio ir paspauskite "Pridėti specialistą".</h1>
                                            </div>
                                        {% else %}
                                            <div class="table">
                                                <div class="results-row header">
                                                    <div class="cell">
                                                        Gyd. Vardas
                                                    </div>
                                                    <div class="cell">
                                                        Specialybė
                                                    </div>
                                                    <div class="cell">
                                                        Tel. numeris
                                                    </div>
                                                    <div class="cell">
                                                        El. paštas
                                                    </div>
                                                </div>
                                                {% for specialist in clinicSpecialists %}
                                                    <div class="results-row">
                                                        <div class="cell" data-title="Full Name">
                                                            <a href="{{ path('specialist_show', {'id': specialist.getSpecialistId().getId() }) }}">{{ specialist.getSpecialistId().getUserInfo().first().getName() }} {{ specialist.getSpecialistId().getUserInfo().first().getSurname() }}</a>
                                                        </div>
                                                        <div class="cell" data-title="Age">
                                                            {{ specialist.getSpecialistId().getUserSpecialties.first().getSpecialtyId().getName() }}
                                                        </div>
                                                        <div class="cell" data-title="Job Title">
                                                            {{ specialist.getSpecialistId().getUserInfo().first().getPhoneNumber()}}
                                                        </div>
                                                        <div class="cell" data-title="Location">
                                                            {{ specialist.getSpecialistId().getUserInfo().first().getPersonalEmail()}}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                {{ knp_pagination_render(clinicSpecialists) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}