{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <body class="bc-index">
    {% include 'components/layout/navbar_vertical.html.twig' %}
    <div class="wrap edit-wrap">
        <h3 class="search-header">Registracija:</h3>
        {{ form_start(registrationForm) }}
        <div>
            <label class="required" for=registration_form[email]">El. paštas</label>
            {{ form_widget(registrationForm.email) }}
            <div class="alert-warning warning">
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>
        <div>
            <label for="registration_form[plainPassword]">Slaptažodis</label>
            {{ form_widget(registrationForm.plainPassword) }}
            <div class="alert-warning warning">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        </div>
        <div>
            <label class="required" for="registration_form[role]">Jūs esate</label>
            {{ form_widget(registrationForm.role) }}
        </div>
        <div>
            <label for="registration_form[agreeTerms]">Sutinku su taisyklėmis</label>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <button id="user_info_save">Registruotis</button>
        {#        {% if form_errors(registrationForm.email) or form_errors(registrationForm.plainPassword) %}#}
        {#            {{ form_errors(registrationForm.email) }}#}
        {#            {{ form_errors(registrationForm.plainPassword) }}#}
        {#        {% endif %}#}
        {{ form_end(registrationForm) }}
    </div>
    </body>
{% endblock %}
