{% block patient_profile %}
    <div class="container-fluid bc-patient-container">
        <div class="row">
            <div class="col-sm-4 bc-patient-column-4">
                <div class="panel text-center">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">{{ flashMessage }}</div>
                    {% endfor %}
                    <div class="user-heading">
                        <a href="#"><img src="/build/profile-avatar.png" alt="" title=""></a>
                        <h2>{{ userInfo.getName() }} {{ userInfo.getSurname() }}</h2>
                        <p>{{ userInfo.getDateOfBirth()|date('Y-m-d') }} <i class="far fa-calendar-alt"></i></p>
                        <p>{{ userInfo.getPhoneNumber() }} <i class="fas fa-phone"></i></p>
                        <p>{{ userInfo.getPersonalEmail() }} <i class="fas fa-envelope"></i></p>
                    </div>
                    <button class="btn btn-margin" onclick="location.href='/userinfo/edit'">Redaguoti profilį</button>
                </div>
            </div>
            <div class="col-sm-8 bc-patient-column-8">
                <div class="card mt-3 tab-card">
                    <div class="card-header tab-card-header bc-patient-tab-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item patient-tab">
                                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                   aria-controls="One" aria-selected="true" selected="true">Apsilankymai</a>
                            </li>
                            <li class="nav-item patient-tab">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                   aria-controls="Two" aria-selected="false">Receptai</a>
                            </li>
                            <li class="nav-item patient-tab">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab"
                                   aria-controls="Three" aria-selected="false">Ligos istorija</a>
                            </li>
                            <li class="nav-item patient-tab">
                                <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab"
                                   aria-controls="Four" aria-selected="false">Siuntimai</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Laikas</th>
                                    <th>Specialistas</th>
                                    <th>Gydytojas</th>
                                    <th>Kabinetas</th>
                                    <th>Veiksmai</th>
                                </tr>
                                </thead>
                                {% for visit in upcomingVisits %}
                                    <tr>
                                        <td>{{ visit.getVisitDate()|date('Y-m-d') }}</td>
                                        <td>{{ visit.getVisitDate()|date('H:i') }}</td>
                                        <td>{{ visit.getSpecialistId().getUserSpecialties().first().getSpecialtyId().getName() }}</td>
                                        <td>
                                            <a href="{{ path('specialist_show', {'id': visit.getSpecialistId().getId()}) }}">{{ visit.getSpecialistId().getUserInfo().first().getName() }} {{ visit.getSpecialistId().getUserInfo().first().getSurname() }}</a>
                                        </td>
                                        <td>203</td>
                                        <td>
                                            <button class="btn btn-secondary"
                                                    onclick="location.href='/uservisit/{{ visit.getId() }}/delete'"
                                                    data-toggle="tooltip" data-placement="bottom" title="Atšaukti"><i
                                                        class="fa fa-times" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Išduota</th>
                                    <th>Galioja</th>
                                    <th>Aprašas</th>
                                    <th>Veiksmai</th>
                                </tr>
                                </thead>
                                {% for recipe in clientRecipes %}
                                    <tr>
                                        <td> {{ recipe.getRecipeId.getValidFrom.format('Y-m-d') }}</td>
                                        <td> {{ recipe.getRecipeId.getValidDuration }}</td>
                                        <td> {{ recipe.getRecipeId.getDescription }} </td>
                                        <td>
                                            <a href="https://vaistai.lt/paieska/{{ recipe.getRecipeId.getDescription }}">
                                                ieškoti </a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Apsilankymo data</th>
                                    <th>Gyd. komentaras</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for visit in pastVisits %}
                                    <tr>
                                        <td> {{ visit.visitDate.format('Y-m-d') }} </td>
                                        <td> {{ visit.description }} </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {{ knp_pagination_render(pastVisits) }}
                        </div>
                        <div class="tab-pane fade p-3" id="four" role="tabpanel" aria-labelledby="four-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Apsilankymo data</th>
                                    <th>Siuntimo aprašymas</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sending in clientSendings %}
                                    <tr>
                                        <td> {{ sending.visitDate.format('Y-m-d') }} </td>
                                        <td> {{ sending.getSendingToDoctorId.getDescription }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
