{% extends 'base.html.twig' %}

{% block title %}Hello UserVisitController!{% endblock %}

{% block body %}
    <div class="container-fluid bc-patient-container">
        <div class="row justify-content-center">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-warning">{{ flashMessage }}</div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary"
                onclick="location.href='/uservisit/{{ userVisit.getId() }}/close'"
                data-toggle="tooltip" data-placement="bottom" title="Uždaryti">
            Uždaryti vizitą</button>

        <form action="{{ path('save_visit_info', {'id': userVisit.getId}) }}" method="post">
            <div class="row">
                <h3> Vizito informacija </h3>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label for="visit-comment"> Vizito komentaras </label>
                    <textarea class="form-control" name="visit-comment">{{ userVisit.description ?? '' }} </textarea>
                </div>
                <div class="col-md-3 offset-2 justify-content-center float-right mt-4">
                    <button type="submit" class="btn"> Išsaugoti vizito informaciją</button>
                </div>
            </div>
        </form>
        <form action="{{ path('save_recipe_info', {'id': userVisit.getId}) }}" method="post">
            <div class="row">
                <h3> Recepto informacija </h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="recipe-description"> Recepto aprašas </label>
                    <textarea class="form-control"
                              name="recipe-comment">{{ userVisit.recipeId.getDescription ?? '' }}</textarea>
                </div>
                <div class="col-md-3">
                    <label for="recipe-duration"> Recepto galiojimo laikas </label>
                    <input type="text" class="form-control mt-2" name="recipe-duration"
                           value="{{ userVisit.recipeId.getValidDuration ?? '' }}">
                </div>
                <div class="col-md-3 justify-content-center float-right mt-4">
                    <button type="submit" class="btn">Išsaugoti recepto informaciją</button>
                </div>
            </div>
        </form>
        <form action="{{ path('save_sending_info', {'id': userVisit.getId}) }}" method="post">
            <div class="row">
                <h3>Siuntimo informacija </h3>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label for="recipe-description"> Siuntimo aprašas </label>
                    <textarea class="form-control"
                              name="sending-to-doctor-comment">{{ userVisit.sendingToDoctorId.getDescription ?? '' }}</textarea>
                </div>
                <div class="col-md-3 offset-2 justify-content-center float-right mt-4">
                    <button type="submit" class="btn"> Išsaugoti siuntimo informaciją</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
