{% block doctor_profile %}
    <div class="container-fluid bc-patient-container">
        <div class="row">
            <div class="col-sm-4 bc-patient-column-4">
                <div class="panel text-center">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">{{ flashMessage }}</div>
                    {% endfor %}
                    <div class="user-heading">
                        <a href="#"><img src="/images/profile-avatar.png" alt="" title=""></a>
                        <h2>{{ userInfo.getName() }} {{ userInfo.getSurname() }}</h2>
                        {% for specialty in app.user.getUserSpecialties() %}
                            <a href="/search?specialties={{ specialty.getSpecialtyId.getId() }}"><span
                                        class="badge badge-info">{{ specialty.getSpecialtyId().getName() }}</span></a>
                        {% endfor %}
                        {% for clinic in app.user.getSpecialistClinics() %}
                            {% if clinic.getClinicId.getRole() != 4 %}
                                <p>
                                    <a href="{{ path('clinic_show', {'id': clinic.getClinicId().getId()}) }}">{{ clinic.getClinicId().getClinicInfo().getName() }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                        <p>{{ userInfo.getDateOfBirth()|date('Y-m-d') }} <i class="far fa-calendar-alt"></i></p>
                        <p>{{ userInfo.getPhoneNumber() }} <i class="fas fa-phone"></i></p>
                        <p>{{ userInfo.getPersonalEmail() }} <i class="fas fa-envelope"></i></p>
                    </div>
                    <button class="btn btn-margin" onclick="location.href='/userinfo/edit'">Redaguoti profilį</button>
                </div>
            </div>
            <div class="col-sm-8 bc-patient-column-8">
                <div class="card mt-3 tab-card">
                    <div class="card-header tab-card-header bc-patient-tab-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item patient-tab">
                                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                   aria-controls="One" aria-selected="true" selected="true">Šiandien</a>
                            </li>
                            <li class="nav-item patient-tab">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                   aria-controls="Two" aria-selected="false">Kalendorius</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Laikas</th>
                                    <th>Priežastis</th>
                                    <th>Pacientas</th>
                                    <th>Veiksmai</th>
                                </tr>
                                </thead>
                                {% for visit in visits %}
                                    {% if visit.isCompleted == false %}
                                        <tr>
                                            <td>{{ visit.getVisitDate()|date('H:i') }}</td>
                                            <td>{{ visit.getDescription() }}</td>
                                            <td>
                                                {% if visit.getClientId().getUserInfo().first() != false %}
                                                    <a href="{{ path('patient_show', {'id': visit.getClientId().getId() }) }}">{{ visit.getClientId().getUserInfo().first().getName() }} {{ visit.getClientId().getUserInfo().first().getSurname() }}</a>
                                                {% else %}
                                                    Pacientas neužpildęs informacijos apie save.
                                                {% endif %}
                                            </td>
                                            <td>
                                                {#                                                <button type="button" class="btn btn-secondary"#}
                                                {#                                                        onclick="location.href='/uservisit/{{ visit.getId() }}/close'"#}
                                                {#                                                        data-toggle="tooltip" data-placement="bottom" title="Uždaryti">#}
                                                {#                                                    <i class="fa fa-times" aria-hidden="true"></i></button>#}
                                                {#                                                <a href="{{ path('visit_info', {'id': visit.getId}) }}"#}
                                                {#                                                   class="btn btn-secondary" data-toggle="tooltip"#}
                                                {#                                                   data-placement="bottom" title="Komentuoti"><i class="fa fa-comment"#}
                                                {#                                                                                                 aria-hidden="true"></i></a>#}
                                                {#                                                <a href="{{ path('visit_info', {'id': visit.getId}) }}"#}
                                                {#                                                   class="btn btn-secondary" data-toggle="tooltip"#}
                                                {#                                                   data-placement="bottom" title="Siuntimas"><i class="fa fa-envelope"#}
                                                {#                                                                                                aria-hidden="true"></i></a>#}
                                                <a href="{{ path('visit_info', {'id': visit.getId}) }}"
                                                   class="btn btn-secondary" data-toggle="tooltip"
                                                   data-placement="bottom" title="Receptas"><i class="fa fa-medkit"
                                                                                               aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                            {{ knp_pagination_render(visits) }}
                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                            {% include 'specialist/hours_edit.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}