{% block doctor_profile %}
    <div class="container-fluid bc-patient-container">
        {% if specialist.getUserInfo() is not defined or specialist.getUserInfo() is  null %}
            <h1>Nepavyko rasti specialisto</h1>
        {% else %}
            <div class="row">
                <div class="col-sm-4 bc-patient-column-4">
                    <div class="panel">
                        <div class="user-heading">
                            <div class="user-heading text-center">
                                <a href="#"><img src="/images/profile-avatar.png" alt="" title=""></a>
                                {% if app.user and app.user.getRole() == 3 %}
                                    {% if app.user.getClinicInfo() != null %}
                                        {% if not clinic_specialist_service.specialistBelongsToClinic(specialist, app.user) %}
                                            <button class="btn btn-margin"
                                                    onclick="location.href='/clinicspecialist/{{ specialist.getId() }}/add'">
                                                Pridėti specialistą į įstaigą
                                            </button>
                                        {% else %}
                                            <button class="btn btn-margin"
                                                    onclick="location.href='/clinicspecialist/{{ specialist.getId() }}/remove'">
                                                Panaikinti specialistą
                                            </button>
                                        {% endif %}
                                    {% else %}
                                        Norėdami pridėti specialistą turite užpildyti informaciją apie savo įstaigą <a
                                            href="{{ path('clinic_edit') }}">čia</a>
                                    {% endif %}
                                {% endif %}
                                <h2>{{ specialist.getUserInfo().first().getName() }} {{ specialist.getUserInfo().first().getSurname() }}</h2>
                                {% for specialty in specialist.getUserSpecialties() %}
                                    <a href="/search?specialties={{ specialty.getSpecialtyId.getId() }}"><span
                                                class="badge badge-info">{{ specialty.getSpecialtyId().getName() }}</span></a>
                                {% endfor %}
                            </div>
                            <p><i class="fas fa-phone"></i> {{ specialist.getUserInfo().first().getPhoneNumber() }}</p>
                            <p><i class="fas fa-envelope"></i> {{ specialist.getUserInfo().first().getPersonalEmail() }}
                            </p>
                            <p><i class="fas fa-map-marker"></i> {{ specialist.getUserInfo().first().getCity() }}</p>
                            <div class="text-center"><b>Darbovietės</b></div>
                            {% if specialist.getSpecialistClinics().first().getClinicId() is not defined or specialist.getSpecialistClinics().first().getClinicId() is null %}
                                Specialistas įstaigai nepriklauso
                            {% else %}
                                {% for clinic in specialist.getSpecialistClinics() %}
                                    {% if clinic.getClinicId().getClinicInfo().getName() is defined %}
                                        <a href="/clinic/show/{{ clinic.getClinicId().getId() }}">
                                            <p>{{ clinic.getClinicId().getClinicInfo().getName() }}</p>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 bc-patient-column-8">
                    <div class="card mt-3 tab-card">
                        <div class="card-header tab-card-header bc-patient-tab-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item patient-tab">
                                    <a class="nav-link active" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                       aria-controls="Two" aria-selected="false">Kalendorius</a>
                                </li>
                                <li class="nav-item patient-tab">
                                    <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                       aria-controls="One" aria-selected="true" selected="true">Apie</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade p-3" id="one" role="tabpanel"
                                 aria-labelledby="one-tab">
                                <p>Aprašymas</p>
                                <p>{{ specialist.getUserInfo().first().getDescription() }}</p>
                            </div>
                            <div class="tab-pane fade show active p-3" id="two" role="tabpanel"
                                 aria-labelledby="two-tab">
                                <h5 class="card-title py-0 my-0">Pasirinkite vizito laiką:</h5>
                                <form action="{{ path('specialist_register_visit', {'specialistId':  specialist.getId()}) }}"
                                      method="POST">
                                    <div class="row ">
                                        <div class="col-md-2">
                                            {% if page > 1 %}
                                                <p><a href="/specialist/show/{{ id }}?page={{ page-1 }}"><i
                                                                class="fa fa-arrow-circle-left"></i></a> Grįžti atgal
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3 offset-7 pl-5">
                                            {% if workHours is not empty %}
                                                <p> Rodyti daugiau <a
                                                            href="/specialist/show/{{ id }}?page={{ page+1 }}"><i
                                                                class="fa fa-arrow-circle-right"></i></a></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        <h5>{{ workHours.0.clinicId.getClinicInfo.getName ?? '' }} </h5>
                                        <div class="row specialist-hours-row">
                                            {% if workHours is empty %}
                                            <p class="specialist-hours-error">Kalendoriaus nėra. Registruotis pas šį
                                                gydytoją klinikoje galima tik telefonu.</p>
                                            {% else %}
                                                {% set previous = workHours.0.clinicId.getId %}
                                                {% for clinic in workHours %}
                                                {% if clinic.clinicId.getId != previous %}
                                                {% set previous = clinic.clinicId.getId %}
                                                </div>
                                                <h5>{{ clinic.clinicId.getClinicInfo.getName ?? '' }} </h5>
                                                <div class="row specialist-hours-row">
                                                    {% else %}
                                                        {% set previous = clinic.clinicId.getId %}
                                                    {% endif %}
                                                    <div class="col-xl-2 specialist-work-hours mx-2 px-1">
                                                        <div class="row specialist-row">
                                                            {{ specialist_service.getDateFromDayNumber(clinic.0.day) }}
                                                        </div>
                                                        <div class="row specialist-row" style="line-height:initial;">
                                                            {% for key, hour in clinic.0.hours %}
                                                                <div class="col-md-6 ml-0 px-0">
                                                                    <input type="radio" name="reg_time"
                                                                           value="{{ clinic.clinicId.getId }};{{ specialist_service.getDateFromDayNumber(clinic.0.day) }};{{ hour }}"
                                                                           id="{{ clinic.clinicId.getId }};{{ specialist_service.getDateFromDayNumber(clinic.0.day) }};{{ hour }}">
                                                                    <label
                                                                            class="specialist-work-day"
                                                                            for="{{ clinic.clinicId.getId }};{{ specialist_service.getDateFromDayNumber(clinic.0.day) }};{{ hour }}"
                                                                    >
                                                                        {{ hour }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br><br>
                                    {% if app.user and app.user.getRole() == 1 %}
                                        {% if app.user.getUserInfo().first() != false %}
                                            <input type="submit" id="form_search" value="Pasirinkti">
                                        {% else %}
                                            Norėdami registruotis vizitui, turite užpildyti <a
                                                href="{{ path('userinfo_edit') }}">asmeninę informaciją</a>
                                        {% endif %}
                                    {% else %}
                                        <p>Norėdami registruotis vizitui, turite <a href="{{ path('app_login') }}">prisijungti</a>
                                            arba <a href="{{ path('app_register') }}">susikurti paskyrą</a></p>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {#    test#}
{% endblock %}